

<div fxLayout="row wrap" style="margin-top: 15vw; margin-bottom: 15vw;">

  <div fxFlex="50" >

      <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"
      [markDisabled]="isDisabled"></ngb-datepicker>

      <hr/>

      <button class="btn btn-sm btn-primary mr-2" (click)="selectToday()">Select Today</button>
      <button class="btn btn-sm btn-primary mr-2" (click)="dp.navigateTo()">To current month</button>
      <button class="btn btn-sm btn-primary mr-2" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013</button>
      <button class="btn btn-sm btn-primary mr-2" (click)="objectDateSeleccion()">Seleccione Turno</button>

      <hr/>

      <pre>Month: {{ date.month }}.{{ date.year }}</pre>
      <pre>Model: {{ model | json }}</pre> 
  </div>

  <div fxFlex="50" fxLayoutGap="20" fxLayout="row wrap">
    <button class="btn btn-sm btn-primary mr-2" fxFlex="30" (click)="selectedHour('8')" id="8" #8 >8 AM</button>
    <button class="btn btn-sm btn-primary mr-2" fxFlex="30" (click)="selectedHour('9')" id="9">9 AM</button>
    <button class="btn btn-sm btn-primary mr-2" fxFlex="30" (click)="selectedHour('10')" id="10"#10 >10 AM</button>
    <button class="btn btn-sm btn-primary mr-2" fxFlex="30" (click)="selectedHour('11')" id="11" >11 AM</button>
    <button class="btn btn-sm btn-primary mr-2" fxFlex="30" (click)="selectedHour('12')" id="12">12 AM</button>

    <!-- <button class="btn btn-sm btn-primary mr-2" fxFlex="30">15 PM</button>
    <button class="btn btn-sm btn-primary mr-2" fxFlex="30">16 PM</button>
    <button class="btn btn-sm btn-primary mr-2" fxFlex="30">17 PM</button>
    <button class="btn btn-sm btn-primary mr-2" fxFlex="30">18 PM</button>
    <button class="btn btn-sm btn-primary mr-2" fxFlex="30">19 PM</button> -->





  </div>


</div>
