<!-- <div class="footer-container" >

    <img src="assets/footer1.png" class="img-fluid"   alt="">

</div> -->

<div class="footer-container" fxLayoutAlign="end end"  fxLayout="row" fxFlex="100">

    <div class="social animate__animated animate__backInLeft " style="margin-left: 10px;" fxLayoutAlign="center end">
        <a  target="_blank" title="whatsapp" href="https://wa.me/+542302416035?text=Hola!!%20" > 
            <span id="whatsapp"><i class="fab fa-whatsapp"></i></span>
        </a>
    
        <a target="_blank" title="Facebook" href="https://www.facebook.com/Dulce-Alma-Deco-355907414565508" >
            <span id="facebook"><i class="fab fa-facebook"></i></span>
        </a>
    
        <a >
        <span class="text-center" id="search"> <i class="fas fa-search-location"></i> </span>
        <span class="address">2 de Marzo 1035</span>
      </a>
    </div>
</div>
