
<div class="footer-container" fxLayout="row" fxLayoutAlign="start end" 
        fxLayoutAlign.xs="center end"   fxFlex="100" >

    <div class="social animate__animated animate__backInLeft" style="margin-left: 20px;" fxLayoutAlign="center end" fxLayoutGap.xs="20px">
        <a  target="_blank" title="whatsapp" href="https://wa.me/+542302416035?text=Hola!!%20" > 
            <span id="whatsapp"><i class="fab fa-whatsapp"></i></span>
        </a>
    
        <a target="_blank" title="Facebook" href="https://www.facebook.com/Dulce-Alma-Deco-355907414565508" >
            <span id="facebook"><i class="fab fa-facebook"></i></span>
        </a>
    
        <a >
        <span class="text-center" id="search"> <i class="fas fa-search-location"></i> </span>
        <!-- <span class="address">2 de Marzo 1035</span> -->
      </a>
    </div>
</div>
