

<div fxLayoutAlign="space-between end" class="logo animate__animated animate__fadeIn" fxLayout="row" style="height: 300px; width: 100%;">

 
<div class="social animate__animated animate__backInLeft " style="margin-left: 10px;" fxLayoutAlign="center end" fxLayoutGap.xs="10px">
    <a  target="_blank" title="whatsapp" href="https://wa.me/+542302416035?text=Hola!!%20" > 
        <span id="whatsapp"><i class="fab fa-whatsapp"></i></span>
    </a>

    <a target="_blank" title="Facebook" href="https://www.facebook.com/Dulce-Alma-Deco-355907414565508" >
        <span id="facebook"><i class="fab fa-facebook"></i></span>
    </a>

    <a >
    <span class="text-center" id="search"> <i class="fas fa-search-location"></i> </span>
    <!-- <span class="address">2 de Marzo 1035</span> -->
  </a>
    
    <!-- <div class="fb-like" data-href="https://www.facebook.com/ Dulce-Alma-Deco-355907414565508"data-layout="button" data-action="like" data-size="small" data-share="false">
    </div>      -->
</div>  

<div class="mail animate__animated animate__backInUp" style="margin-right: 10px; "> <a href="mailto:margri764@gmail.com">barrozoautomotores@gmail.com</a></div>


</div>

<br>

<div>
      <ul ngbNav #nav="ngbNav" class="nav-pills" [(activeId)]="active" >

        <li ngbNavItem >
          <a  ngbNavLink (click)="showNavContent()" #ngbNavLink >Autos 0km</a>

          <ng-template ngbNavContent >
        
             <button class="btn" id="link" (click)="clicked = false;" placement="bottom" ngbTooltip="Dejanos un msj" routerLink="./cars/zeromile"> Solicitá una cotización</button>
             <button class="btn btn-danger" id="close" (click)="clicked = false; goTo()" >X</button>
        
          </ng-template>
     
        </li>
        <li ngbNavItem >
          <a ngbNavLink  (click)="showNavContent()">Usados Seleccionados</a>

          <ng-template ngbNavContent >
            <button class="btn" id="link" routerLink="./cars/used-car" (click)="clicked = false;" > Usados destacados</button>
            
          </ng-template>

        </li>

        <li ngbNavItem>
          <a ngbNavLink (click)="showNavContent()">Servicios</a>
          <ng-template ngbNavContent >
            
            <button class="btn" id="link" routerLink="./cars/car-wash"> Lavadero</button>
            
            &nbsp;&nbsp;&nbsp;

            <button class="btn" id="link" routerLink="./cars/workshop"> Taller</button>
            
            &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
            
            <button class="btn btn-danger" (click)="clicked = false" >X</button>

       
            
          </ng-template>
         
        </li>
 
        <li ngbNavItem>
          <a ngbNavLink (click)="showNavContent()">Tienda</a>
          
          <ng-template ngbNavContent >
            <button class="btn" id="link" routerLink="./cars/shop"> Tienda</button>
            

          </ng-template>
        </li>

         
        <li ngbNavItem>
          <a ngbNavLink (click)="showNavContent()">Gestoria</a>
          
          <ng-template ngbNavContent  >
                <button class="btn" id="link" routerLink="./cars/formalities">Servicios de Gestoria</button>
                <button class="btn btn-danger" (click)="clicked = false" >X</button>
          </ng-template>
        </li>

        <li ngbNavItem>
          <a ngbNavLink (click)="showNavContent()" routerLink="contact-us"> Contacto </a>
         </li>



<!-- 
      <li ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>Dropdown</a>
        <div ngbDropdownMenu>
          <button ngbDropdownItem>Action</button>
          <button ngbDropdownItem>Another action</button>
          <button ngbDropdownItem>Something else here</button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem>Separated link</button>
        </div>
      </li> -->
  
    </ul>
      <div class="animate__animated animate__fadeIn" [ngbNavOutlet]="nav" *ngIf="clicked"></div>
        
    </div>