

        <h1>Agencia</h1>

      <ul ngbNav #nav="ngbNav" class="nav-pills">
        <li ngbNavItem>
          <a  ngbNavLink (click)="showNavContent()" >Autos 0km</a>

          <ng-template ngbNavContent >
        
             <button class="btn btn-success" placement="bottom" ngbTooltip="Dejanos un msj" routerLink="./cars/zeromile"> Solicitá una cotización</button>
             <button class="btn btn-danger" (click)="clicked = false" >X</button>
        
          </ng-template>
     
        </li>
        <li ngbNavItem >
          <a ngbNavLink  (click)="showNavContent()">Usados Seleccionados</a>

          <ng-template ngbNavContent >
            <button class="btn btn-success" routerLink="./cars/used-car"> Usados destacados</button>
            
          </ng-template>

        </li>

        <li ngbNavItem>
          <a ngbNavLink (click)="showNavContent()">Servicios</a>
          <ng-template ngbNavContent >
            
            <button class="btn btn-success" routerLink="./cars/car-wash"> Lavadero</button>
            &nbsp;&nbsp;&nbsp;
            <button class="btn btn-success" routerLink="./cars/workshop"> Taller</button>
            &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
            <button class="btn btn-danger" (click)="clicked = false" >X</button>

       
            
          </ng-template>
         
        </li>
 
        <li ngbNavItem>
          <a ngbNavLink (click)="showNavContent()">Tienda</a>
          
          <ng-template ngbNavContent >
            <button class="btn btn-success" routerLink="./cars/shop"> Tienda</button>
            

          </ng-template>
        </li>

         
        <li ngbNavItem>
          <a ngbNavLink (click)="showNavContent()">Gestoria</a>
          
          <ng-template ngbNavContent  >
                <button class="btn btn-success" routerLink="./cars/formalities">Servicios de Gestoria</button>
                <button class="btn btn-danger" (click)="clicked = false" >X</button>
          </ng-template>
        </li>



<!-- 
      <li ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>Dropdown</a>
        <div ngbDropdownMenu>
          <button ngbDropdownItem>Action</button>
          <button ngbDropdownItem>Another action</button>
          <button ngbDropdownItem>Something else here</button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem>Separated link</button>
        </div>
      </li> -->
  
    </ul>
      <div [ngbNavOutlet]="nav" *ngIf="clicked"></div>
        

