@media only screen and (max-width: 574px  )  {

}

@media only screen and (min-width: 575px) and (max-width: 768px  )  {

}

@media only screen and (min-width: 769px) and (max-width: 1280px  )  {

}

@media only screen and (min-width: 1281px)   {

}