


<div  style="height: 100vh; margin-top: 10vh; border: 1px solid;" fxLayout="row" fxLayoutAlign="center center">

    <img class="test"  src="./assets/sw4Usado.png" fxFlex="60" alt="">

    

</div>

<div #div style="height: 100vh; margin-top: 10vh; border: 1px solid;" fxLayout="row" fxLayoutAlign="center center">

  <img class="test"  src="./assets/sw4Usado.png" fxFlex="60" alt="">

  

</div>
<!-- <div> <button (click)="go()">go</button></div>


<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, eum placeat? Excepturi, nesciunt? Deleniti, modi ratione quod quas quo pariatur architecto laboriosam reprehenderit libero autem in, cumque at sed iste.</div>
<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, eum placeat? Excepturi, nesciunt? Deleniti, modi ratione quod quas quo pariatur architecto laboriosam reprehenderit libero autem in, cumque at sed iste.</div>
<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, eum placeat? Excepturi, nesciunt? Deleniti, modi ratione quod quas quo pariatur architecto laboriosam reprehenderit libero autem in, cumque at sed iste.</div>
<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, eum placeat? Excepturi, nesciunt? Deleniti, modi ratione quod quas quo pariatur architecto laboriosam reprehenderit libero autem in, cumque at sed iste.</div>
<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, eum placeat? Excepturi, nesciunt? Deleniti, modi ratione quod quas quo pariatur architecto laboriosam reprehenderit libero autem in, cumque at sed iste.</div>
<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, eum placeat? Excepturi, nesciunt? Deleniti, modi ratione quod quas quo pariatur architecto laboriosam reprehenderit libero autem in, cumque at sed iste.</div>


<div id="targetRed" style="background-color: red;  height: 100vh">
  Scrolled to Red
</div>

<div  #elDiv style="background-color: green; height: 100vh;">
    Scrolled to Greene
  </div> -->
